# Assignment 04

Caroline Oâ€™Sullivan (Boston University)  
September 27, 2025

In [1]:
from pyspark.sql import SparkSession
import pandas as pd
import plotly.express as px
import plotly.io as pio
import numpy as np

np.random.seed(45)

pio.renderers.default = "notebook+notebook_connected+vscode"

# Initialize Spark Session
spark = SparkSession.builder.appName("LightcastData").getOrCreate()

# Load Data
df = spark.read.option("header", "true").option("inferSchema", "true").option("multiLine","true").option("escape", "\"").csv("./data/lightcast_job_postings.csv")

# Show Schema and Sample Data
#print("---This is Diagnostic check, No need to print it in the final doc---")

# df.printSchema() # comment this line when rendering the submission
df.show(5)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/10/08 23:17:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/10/08 23:17:37 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+--------------------+-----------------+----------------------+----------+--------+---------+--------+--------------------+--------------------+--------------------+-----------+-------------------+--------------------+--------------------+---------------+----------------+--------+--------------------+-----------+-------------------+----------------+---------------------+-------------+-------------------+-------------+------------------+---------------+--------------------+--------------------+--------------------+-------------+------+-----------+----------------+-------------------+---------+-----------+--------------------+--------------------+-------------+------+--------------+-----+--------------------+-----+----------+---------------+--------------------+---------------+--------------------+------------+--------------------+------------+--------------------+------+--------------------+------+--------------------+------+--------------------+------+--------------------+------+--------------------+------------------+-------------------+--------------------+--------------------+--------------------+--------------------+-----------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+--------------------+----------+--------------------+----------+---------------+----------+---------------+---------------+--------------------+--------------+--------------------+--------------------------+-------------------------------+--------------------+-------------------------+-----------------------------+----------------------------------+-----------------+----------------------+-----------------------+----------------------------+------------------+-----------------------+-------+--------------------+-------+--------------------+-------+---------------+-------+---------------+-----------------+----------------------+------------+--------------------+------------+--------------------+------------+--------------------+------------+--------------------+------------+--------------------+
|                  ID|LAST_UPDATED_DATE|LAST_UPDATED_TIMESTAMP|DUPLICATES|  POSTED|  EXPIRED|DURATION|        SOURCE_TYPES|             SOURCES|                 URL|ACTIVE_URLS|ACTIVE_SOURCES_INFO|           TITLE_RAW|                BODY|MODELED_EXPIRED|MODELED_DURATION| COMPANY|        COMPANY_NAME|COMPANY_RAW|COMPANY_IS_STAFFING|EDUCATION_LEVELS|EDUCATION_LEVELS_NAME|MIN_EDULEVELS| MIN_EDULEVELS_NAME|MAX_EDULEVELS|MAX_EDULEVELS_NAME|EMPLOYMENT_TYPE|EMPLOYMENT_TYPE_NAME|MIN_YEARS_EXPERIENCE|MAX_YEARS_EXPERIENCE|IS_INTERNSHIP|SALARY|REMOTE_TYPE|REMOTE_TYPE_NAME|ORIGINAL_PAY_PERIOD|SALARY_TO|SALARY_FROM|            LOCATION|                CITY|    CITY_NAME|COUNTY|   COUNTY_NAME|  MSA|            MSA_NAME|STATE|STATE_NAME|COUNTY_OUTGOING|COUNTY_NAME_OUTGOING|COUNTY_INCOMING|COUNTY_NAME_INCOMING|MSA_OUTGOING|   MSA_NAME_OUTGOING|MSA_INCOMING|   MSA_NAME_INCOMING|NAICS2|         NAICS2_NAME|NAICS3|         NAICS3_NAME|NAICS4|         NAICS4_NAME|NAICS5|         NAICS5_NAME|NAICS6|         NAICS6_NAME|             TITLE|         TITLE_NAME|         TITLE_CLEAN|              SKILLS|         SKILLS_NAME|  SPECIALIZED_SKILLS|SPECIALIZED_SKILLS_NAME|      CERTIFICATIONS| CERTIFICATIONS_NAME|       COMMON_SKILLS|  COMMON_SKILLS_NAME|     SOFTWARE_SKILLS|SOFTWARE_SKILLS_NAME|      ONET|           ONET_NAME| ONET_2019|      ONET_2019_NAME|                CIP6|           CIP6_NAME|                CIP4|           CIP4_NAME|                CIP2|           CIP2_NAME|SOC_2021_2|     SOC_2021_2_NAME|SOC_2021_3|     SOC_2021_3_NAME|SOC_2021_4|SOC_2021_4_NAME|SOC_2021_5|SOC_2021_5_NAME|LOT_CAREER_AREA|LOT_CAREER_AREA_NAME|LOT_OCCUPATION| LOT_OCCUPATION_NAME|LOT_SPECIALIZED_OCCUPATION|LOT_SPECIALIZED_OCCUPATION_NAME|LOT_OCCUPATION_GROUP|LOT_OCCUPATION_GROUP_NAME|LOT_V6_SPECIALIZED_OCCUPATION|LOT_V6_SPECIALIZED_OCCUPATION_NAME|LOT_V6_OCCUPATION|LOT_V6_OCCUPATION_NAME|LOT_V6_OCCUPATION_GROUP|LOT_V6_OCCUPATION_GROUP_NAME|LOT_V6_CAREER_AREA|LOT_V6_CAREER_AREA_NAME|  SOC_2|          SOC_2_NAME|  SOC_3|          SOC_3_NAME|  SOC_4|     SOC_4_NAME|  SOC_5|     SOC_5_NAME|LIGHTCAST_SECTORS|LIGHTCAST_SECTORS_NAME|NAICS_2022_2|   NAICS_2022_2_NAME|NAICS_2022_3|   NAICS_2022_3_NAME|NAICS_2022_4|   NAICS_2022_4_NAME|NAICS_2022_5|   NAICS_2022_5_NAME|NAICS_2022_6|   NAICS_2022_6_NAME|
+--------------------+-----------------+----------------------+----------+--------+---------+--------+--------------------+--------------------+--------------------+-----------+-------------------+--------------------+--------------------+---------------+----------------+--------+--------------------+-----------+-------------------+----------------+---------------------+-------------+-------------------+-------------+------------------+---------------+--------------------+--------------------+--------------------+-------------+------+-----------+----------------+-------------------+---------+-----------+--------------------+--------------------+-------------+------+--------------+-----+--------------------+-----+----------+---------------+--------------------+---------------+--------------------+------------+--------------------+------------+--------------------+------+--------------------+------+--------------------+------+--------------------+------+--------------------+------+--------------------+------------------+-------------------+--------------------+--------------------+--------------------+--------------------+-----------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+--------------------+----------+--------------------+----------+---------------+----------+---------------+---------------+--------------------+--------------+--------------------+--------------------------+-------------------------------+--------------------+-------------------------+-----------------------------+----------------------------------+-----------------+----------------------+-----------------------+----------------------------+------------------+-----------------------+-------+--------------------+-------+--------------------+-------+---------------+-------+---------------+-----------------+----------------------+------------+--------------------+------------+--------------------+------------+--------------------+------------+--------------------+------------+--------------------+
|1f57d95acf4dc67ed...|         9/6/2024|  2024-09-06 20:32:...|         0|6/2/2024| 6/8/2024|       6|   [\n  "Company"\n]|[\n  "brassring.c...|[\n  "https://sjo...|         []|               NULL|Enterprise Analys...|31-May-2024\n\nEn...|       6/8/2024|               6|  894731|          Murphy USA| Murphy USA|              false|       [\n  2\n]| [\n  "Bachelor's ...|            2|  Bachelor's degree|         NULL|              NULL|              1|Full-time (> 32 h...|                   2|                   2|        false|  NULL|          0|          [None]|               NULL|     NULL|       NULL|{\n  "lat": 33.20...|RWwgRG9yYWRvLCBBUg==|El Dorado, AR|  5139|     Union, AR|20980|       El Dorado, AR|    5|  Arkansas|           5139|           Union, AR|           5139|           Union, AR|       20980|       El Dorado, AR|       20980|       El Dorado, AR|    44|        Retail Trade|   441|Motor Vehicle and...|  4413|Automotive Parts,...| 44133|Automotive Parts ...|441330|Automotive Parts ...|ET29C073C03D1F86B4|Enterprise Analysts|enterprise analys...|[\n  "KS126DB6T06...|[\n  "Merchandisi...|[\n  "KS126DB6T06...|   [\n  "Merchandisi...|                  []|                  []|[\n  "KS126706DPF...|[\n  "Mathematics...|[\n  "KS440W865GC...|[\n  "SQL (Progra...|15-2051.01|Business Intellig...|15-2051.01|Business Intellig...|[\n  "45.0601",\n...|[\n  "Economics, ...|[\n  "45.06",\n  ...|[\n  "Economics",...|[\n  "45",\n  "27...|[\n  "Social Scie...|   15-0000|Computer and Math...|   15-2000|Mathematical Scie...|   15-2050|Data Scientists|   15-2051|Data Scientists|             23|Information Techn...|        231010|Business Intellig...|                  23101011|           General ERP Analy...|                2310|     Business Intellig...|                     23101011|              General ERP Analy...|           231010|  Business Intellig...|                   2310|        Business Intellig...|                23|   Information Techn...|15-0000|Computer and Math...|15-2000|Mathematical Scie...|15-2050|Data Scientists|15-2051|Data Scientists|        [\n  7\n]|  [\n  "Artificial ...|          44|        Retail Trade|         441|Motor Vehicle and...|        4413|Automotive Parts,...|       44133|Automotive Parts ...|      441330|Automotive Parts ...|
|0cb072af26757b6c4...|         8/2/2024|  2024-08-02 17:08:...|         0|6/2/2024| 8/1/2024|    NULL| [\n  "Job Board"\n]| [\n  "maine.gov"\n]|[\n  "https://job...|         []|               NULL|Oracle Consultant...|Oracle Consultant...|       8/1/2024|            NULL|  133098|Smx Corporation L...|        SMX|               true|      [\n  99\n]| [\n  "No Educatio...|           99|No Education Listed|         NULL|              NULL|              1|Full-time (> 32 h...|                   3|                   3|        false|  NULL|          1|          Remote|               NULL|     NULL|       NULL|{\n  "lat": 44.31...|    QXVndXN0YSwgTUU=|  Augusta, ME| 23011|  Kennebec, ME|12300|Augusta-Watervill...|   23|     Maine|          23011|        Kennebec, ME|          23011|        Kennebec, ME|       12300|Augusta-Watervill...|       12300|Augusta-Watervill...|    56|Administrative an...|   561|Administrative an...|  5613| Employment Services| 56132|Temporary Help Se...|561320|Temporary Help Se...|ET21DDA63780A7DC09| Oracle Consultants|oracle consultant...|[\n  "KS122626T55...|[\n  "Procurement...|[\n  "KS122626T55...|   [\n  "Procurement...|                  []|                  []|                  []|                  []|[\n  "BGSBF3F508F...|[\n  "Oracle Busi...|15-2051.01|Business Intellig...|15-2051.01|Business Intellig...|                  []|                  []|                  []|                  []|                  []|                  []|   15-0000|Computer and Math...|   15-2000|Mathematical Scie...|   15-2050|Data Scientists|   15-2051|Data Scientists|             23|Information Techn...|        231010|Business Intellig...|                  23101012|           Oracle Consultant...|                2310|     Business Intellig...|                     23101012|              Oracle Consultant...|           231010|  Business Intellig...|                   2310|        Business Intellig...|                23|   Information Techn...|15-0000|Computer and Math...|15-2000|Mathematical Scie...|15-2050|Data Scientists|15-2051|Data Scientists|             NULL|                  NULL|          56|Administrative an...|         561|Administrative an...|        5613| Employment Services|       56132|Temporary Help Se...|      561320|Temporary Help Se...|
|85318b12b3331fa49...|         9/6/2024|  2024-09-06 20:32:...|         1|6/2/2024| 7/7/2024|      35| [\n  "Job Board"\n]|[\n  "dejobs.org"\n]|[\n  "https://dej...|         []|               NULL|        Data Analyst|Taking care of pe...|      6/10/2024|               8|39063746|            Sedgwick|   Sedgwick|              false|       [\n  2\n]| [\n  "Bachelor's ...|            2|  Bachelor's degree|         NULL|              NULL|              1|Full-time (> 32 h...|                   5|                NULL|        false|  NULL|          0|          [None]|               NULL|     NULL|       NULL|{\n  "lat": 32.77...|    RGFsbGFzLCBUWA==|   Dallas, TX| 48113|    Dallas, TX|19100|Dallas-Fort Worth...|   48|     Texas|          48113|          Dallas, TX|          48113|          Dallas, TX|       19100|Dallas-Fort Worth...|       19100|Dallas-Fort Worth...|    52|Finance and Insur...|   524|Insurance Carrier...|  5242|Agencies, Brokera...| 52429|Other Insurance R...|524291|    Claims Adjusting|ET3037E0C947A02404|      Data Analysts|        data analyst|[\n  "KS1218W78FG...|[\n  "Management"...|[\n  "ESF3939CE1F...|   [\n  "Exception R...|[\n  "KS683TN76T7...|[\n  "Security Cl...|[\n  "KS1218W78FG...|[\n  "Management"...|[\n  "KS126HY6YLT...|[\n  "Microsoft O...|15-2051.01|Business Intellig...|15-2051.01|Business Intellig...|                  []|                  []|                  []|                  []|                  []|                  []|   15-0000|Computer and Math...|   15-2000|Mathematical Scie...|   15-2050|Data Scientists|   15-2051|Data Scientists|             23|Information Techn...|        231113|Data / Data Minin...|                  23111310|                   Data Analyst|                2311|     Data Analysis and...|                     23111310|                      Data Analyst|           231113|  Data / Data Minin...|                   2311|        Data Analysis and...|                23|   Information Techn...|15-0000|Computer and Math...|15-2000|Mathematical Scie...|15-2050|Data Scientists|15-2051|Data Scientists|             NULL|                  NULL|          52|Finance and Insur...|         524|Insurance Carrier...|        5242|Agencies, Brokera...|       52429|Other Insurance R...|      524291|    Claims Adjusting|
|1b5c3941e54a1889e...|         9/6/2024|  2024-09-06 20:32:...|         1|6/2/2024|7/20/2024|      48| [\n  "Job Board"\n]|[\n  "disabledper...|[\n  "https://www...|         []|               NULL|Sr. Lead Data Mgm...|About this role:\...|      6/12/2024|              10|37615159|         Wells Fargo|Wells Fargo|              false|      [\n  99\n]| [\n  "No Educatio...|           99|No Education Listed|         NULL|              NULL|              1|Full-time (> 32 h...|                   3|                NULL|        false|  NULL|          0|          [None]|               NULL|     NULL|       NULL|{\n  "lat": 33.44...|    UGhvZW5peCwgQVo=|  Phoenix, AZ|  4013|  Maricopa, AZ|38060|Phoenix-Mesa-Chan...|    4|   Arizona|           4013|        Maricopa, AZ|           4013|        Maricopa, AZ|       38060|Phoenix-Mesa-Chan...|       38060|Phoenix-Mesa-Chan...|    52|Finance and Insur...|   522|Credit Intermedia...|  5221|Depository Credit...| 52211|  Commercial Banking|522110|  Commercial Banking|ET2114E0404BA30075|Management Analysts|sr lead data mgmt...|[\n  "KS123QX62QY...|[\n  "Exit Strate...|[\n  "KS123QX62QY...|   [\n  "Exit Strate...|                  []|                  []|[\n  "KS7G6NP6R6L...|[\n  "Reliability...|[\n  "KS4409D76NW...|[\n  "SAS (Softwa...|15-2051.01|Business Intellig...|15-2051.01|Business Intellig...|                  []|                  []|                  []|                  []|                  []|                  []|   15-0000|Computer and Math...|   15-2000|Mathematical Scie...|   15-2050|Data Scientists|   15-2051|Data Scientists|             23|Information Techn...|        231113|Data / Data Minin...|                  23111310|                   Data Analyst|                2311|     Data Analysis and...|                     23111310|                      Data Analyst|           231113|  Data / Data Minin...|                   2311|        Data Analysis and...|                23|   Information Techn...|15-0000|Computer and Math...|15-2000|Mathematical Scie...|15-2050|Data Scientists|15-2051|Data Scientists|        [\n  6\n]|  [\n  "Data Privac...|          52|Finance and Insur...|         522|Credit Intermedia...|        5221|Depository Credit...|       52211|  Commercial Banking|      522110|  Commercial Banking|
|cb5ca25f02bdf25c1...|        6/19/2024|   2024-06-19 07:00:00|         0|6/2/2024|6/17/2024|      15|[\n  "FreeJobBoar...|[\n  "craigslist....|[\n  "https://mod...|         []|               NULL|Comisiones de $10...|Comisiones de $10...|      6/17/2024|              15|       0|        Unclassified|      LH/GM|              false|      [\n  99\n]| [\n  "No Educatio...|           99|No Education Listed|         NULL|              NULL|              3|Part-time / full-...|                NULL|                NULL|        false| 92500|          0|          [None]|               year|   150000|      35000|{\n  "lat": 37.63...|    TW9kZXN0bywgQ0E=|  Modesto, CA|  6099|Stanislaus, CA|33700|         Modesto, CA|    6|California|           6099|      Stanislaus, CA|           6099|      Stanislaus, CA|       33700|         Modesto, CA|       33700|         Modesto, CA|    99|Unclassified Indu...|   999|Unclassified Indu...|  9999|Unclassified Indu...| 99999|Unclassified Indu...|999999|Unclassified Indu...|ET0000000000000000|       Unclassified|comisiones de por...|                  []|                  []|                  []|                     []|                  []|                  []|                  []|                  []|                  []|                  []|15-2051.01|Business Intellig...|15-2051.01|Business Intellig...|                  []|                  []|                  []|                  []|                  []|                  []|   15-0000|Computer and Math...|   15-2000|Mathematical Scie...|   15-2050|Data Scientists|   15-2051|Data Scientists|             23|Information Techn...|        231010|Business Intellig...|                  23101012|           Oracle Consultant...|                2310|     Business Intellig...|                     23101012|              Oracle Consultant...|           231010|  Business Intellig...|                   2310|        Business Intellig...|                23|   Information Techn...|15-0000|Computer and Math...|15-2000|Mathematical Scie...|15-2050|Data Scientists|15-2051|Data Scientists|             NULL|                  NULL|          99|Unclassified Indu...|         999|Unclassified Indu...|        9999|Unclassified Indu...|       99999|Unclassified Indu...|      999999|Unclassified Indu...|

##Feature Engineering
Feature Engineering is a crucial step in preparing your data for machine learning. In this lab, we will focus on the following tasks:

1. Drop rows with missing values in the target variable and key features.
2. By now you are already familiar with the code and the data. Based on your understanding please choose any 3 (my code output has 10) variables as:
three continuous variables and, MIN_YEARS_EXPERIENCE (total 4, use your best judgment!)
two categorical .
Your dependent variable (y) is SALARY.
3. Convert categorical variables into numerical representations using StringIndexer and OneHotEncoder.
4. Assemble features into a single vector using VectorAssembler.
5. Split the data into training and testing sets.
6. You can use pipeline to do the above steps in one go.
7. Create a new column MIN_YEARS_EXPERIENCE_SQ by squaring the MIN_YEARS_EXPERIENCE column.
8. Assemble the polynomial features into a new vector column features_poly using VectorAssembler.
9. Show the final structure of the DataFrame with the new features.
#Missing Value Treatment
1. Replace missing values in Salary by Median of Salary based on the Employment Type, if missing then replace with the overall median of Salary

In [2]:
#Missing Value Treatment
#1. Replace missing values in Salary by Median of Salary based on the Employment Type, if missing then replace with the overall median of Salary

from pyspark.sql import Window
from pyspark.sql.functions import col, when, isnan, count, lit, expr, avg, median, pow
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler

#select subset of columns
eda_cols = ["SALARY","MIN_YEARS_EXPERIENCE","EMPLOYMENT_TYPE_NAME","REMOTE_TYPE_NAME","STATE_NAME","MIN_EDULEVELS_NAME","COMPANY_IS_STAFFING","IS_INTERNSHIP"]
df_subset = df.select(eda_cols)

#Fix Remote Type Name incorrect labels to Remote, Hybrid, Onsite.  None and NULL are Onsite.
df_subset = df_subset.withColumn(
    "REMOTE_TYPE_NAME",
    when(col("REMOTE_TYPE_NAME") == "Remote", "Remote")
    .when(col("REMOTE_TYPE_NAME") == "Not Remote", "On Site")
    .when(col("REMOTE_TYPE_NAME") == "Hybrid Remote", "Hybrid")
    .when((col("REMOTE_TYPE_NAME").isNull()) | (col("REMOTE_TYPE_NAME") == "[None]"), "On Site")
    .otherwise("On Site")
)

#Clean Employment Type
df_subset = df_subset.withColumn(
    "EMPLOYMENT_TYPE_NAME",
    when(col("EMPLOYMENT_TYPE_NAME").like("Part-time (Ã¢â€°Â¤ 32%"), "Part Time")
    .when(col("EMPLOYMENT_TYPE_NAME").like("Part-time / full-%"), "Flexible")
    .when(col("EMPLOYMENT_TYPE_NAME").like("Full-time (> 32%"), "Full Time")
    .when(col("EMPLOYMENT_TYPE_NAME").isNull(), "Full Time")
    .otherwise("Full Time")  # fallback for anything else
)
#Calculate the median of MIN_YEARS_EXPERIENCE column based on Employment Type
median_by_emp_type_min_exp = df.groupBy("EMPLOYMENT_TYPE").agg(expr('percentile_approx(MIN_YEARS_EXPERIENCE, 0.5)').alias('median_min_years_experience_by_emp_type'))

#Median Salary
median_salary = df_subset.approxQuantile("SALARY", [0.5], 0.25)[0]
median_by_emp_type = (
    df_subset.groupBy("EMPLOYMENT_TYPE_NAME")
    .agg(expr("percentile_approx(SALARY, 0.5)").alias("median_salary_by_emp_type"))
)

df_subset = df_subset.join(median_by_emp_type, on="EMPLOYMENT_TYPE_NAME", how="left")
df_subset = df_subset.withColumn(
    "SALARY",
    when(
        col("SALARY").isNull(),
        when(col("median_salary_by_emp_type").isNotNull(), col("median_salary_by_emp_type"))
        .otherwise(lit(median_salary))
    ).otherwise(col("SALARY"))
).drop("median_salary_by_emp_type")

#Median MIN_YEARS_EXPERIENCE
median_by_emp_type_min_exp = df.groupBy("EMPLOYMENT_TYPE_NAME").agg(
    expr('percentile_approx(MIN_YEARS_EXPERIENCE, 0.5)').alias('median_min_years_experience_by_emp_type')
)
df_subset = df_subset.join(median_by_emp_type_min_exp, on="EMPLOYMENT_TYPE_NAME", how="left")
df_subset = df_subset.withColumn(
    "MIN_YEARS_EXPERIENCE",
    when(
        col("MIN_YEARS_EXPERIENCE").isNull(),
        when(col("median_min_years_experience_by_emp_type").isNotNull(), col("median_min_years_experience_by_emp_type"))
        .otherwise(lit(0))  # fallback if needed
    ).otherwise(col("MIN_YEARS_EXPERIENCE"))
).drop("median_min_years_experience_by_emp_type")

#False for IS_INTERNSHIP and COMPANY_IS_STAFFING if NULL
df_subset = df_subset.withColumn(
    "IS_INTERNSHIP",
    when(col("IS_INTERNSHIP").isNull(), lit(False)).otherwise(col("IS_INTERNSHIP"))
).withColumn(
    "COMPANY_IS_STAFFING",
    when(col("COMPANY_IS_STAFFING").isNull(), lit(False)).otherwise(col("COMPANY_IS_STAFFING"))
)

df_subset = df_subset.withColumn("IS_INTERNSHIP_num", col("IS_INTERNSHIP").cast("int"))
df_subset = df_subset.withColumn("COMPANY_IS_STAFFING_num", col("COMPANY_IS_STAFFING").cast("int"))

df_subset = df_subset.dropna()

Linear Regression Model

In [3]:
#Feature Engineering
#String Indexing and One Hot Encoding for Categorical Variables
categorical_cols = ["EMPLOYMENT_TYPE_NAME","REMOTE_TYPE_NAME","MIN_EDULEVELS_NAME","STATE_NAME"]
indexers = [StringIndexer(inputCol=col, outputCol=f"{col}_idx", handleInvalid='skip') for col in categorical_cols]
encoders = [OneHotEncoder(inputCol=f"{col}_idx", outputCol=f"{col}_vec") for col in categorical_cols]

assembler = VectorAssembler(
    inputCols=[
        "MIN_YEARS_EXPERIENCE",
        "COMPANY_IS_STAFFING",
        "IS_INTERNSHIP"
    ] + [f"{col}_vec" for col in categorical_cols],
    outputCol="features"
)

pipeline = Pipeline(stages=indexers + encoders + [assembler])
data = pipeline.fit(df_subset).transform(df_subset)

In [4]:
#Normalize Features
from pyspark.ml.feature import Normalizer

normalizer = Normalizer(inputCol="features",outputCol="normFeatures",p=2.0)

# Apply normalization
data_normalized = normalizer.transform(data)

# Optional: view results
data_normalized.select("features", "normFeatures", "SALARY").show(5, truncate=False)

+---------------------------------------+------------------------------------------------------------------------------------------------------------------+--------+
|features                               |normFeatures                                                                                                      |SALARY  |
+---------------------------------------+------------------------------------------------------------------------------------------------------------------+--------+
|(62,[0,4,5,7,23],[3.0,1.0,1.0,1.0,1.0])|(62,[0,4,5,7,23],[0.8320502943378437,0.2773500981126146,0.2773500981126146,0.2773500981126146,0.2773500981126146])|103573.0|
|(62,[4,5,8,16],[1.0,1.0,1.0,1.0])      |(62,[4,5,8,16],[0.5,0.5,0.5,0.5])                                                                                 |86390.0 |
|(62,[0,4,5,7,22],[3.0,1.0,1.0,1.0,1.0])|(62,[0,4,5,7,22],[0.8320502943378437,0.2773500981126146,0.2773500981126146,0.2773500981126146,0.2773500981126146])|86390.0 |
|(62,[4,5,7,16],[1.0,1.0,1.0,1.0])      |(62,[4,5,7,16],[0.5,0.5,0.5,0.5])                                                                                 |52987.0 |
|(62,[4,6,8,20],[1.0,1.0,1.0,1.0])      |(62,[4,6,8,20],[0.5,0.5,0.5,0.5])                                                                                 |86390.0 |
+---------------------------------------+------------------------------------------------------------------------------------------------------------------+--------+
only showing top 5 rows

In [4]:
#Test Train Split
train_data, test_data = data.randomSplit([0.8, 0.2], seed=45)

In [5]:
from pyspark.ml.regression import GeneralizedLinearRegression
from pyspark.sql import Row

feature_names = assembler.getInputCols()

glr = GeneralizedLinearRegression(
    featuresCol="features",
    labelCol="SALARY",
    family="gaussian",
    link="identity",
    maxIter=10,
    regParam=0.3,
)

glr_model = glr.fit(train_data)
glr_summary = glr_model.summary

In [6]:
#Model Summary

print("Intercept: {:.4f}".format(glr_model.intercept))
print("Coefficients:")
for i, coef in enumerate(glr_model.coefficients):
    print(f" Feature {i + 1}: {coef:.4f}")

Intercept: 102278.9407
Coefficients:
 Feature 1: 2378.7010
 Feature 2: -2835.2513
 Feature 3: -3435.8114
 Feature 4: 12006.3027
 Feature 5: -8290.8537
 Feature 6: 1538.9051
 Feature 7: 1088.4958
 Feature 8: -5950.0787
 Feature 9: -3615.2379
 Feature 10: -22564.1717
 Feature 11: -11979.7180
 Feature 12: 6353.9330
 Feature 13: -1553.1378
 Feature 14: 2688.0705
 Feature 15: -2274.1549
 Feature 16: 490.1882
 Feature 17: 576.8265
 Feature 18: -164.8164
 Feature 19: -1131.9933
 Feature 20: -1786.4970
 Feature 21: -2290.7826
 Feature 22: 1624.7187
 Feature 23: -2157.5368
 Feature 24: 2.7998
 Feature 25: -687.9366
 Feature 26: -2652.3943
 Feature 27: 3176.2818
 Feature 28: -1391.5348
 Feature 29: -3838.0329
 Feature 30: -2622.0994
 Feature 31: -1952.8745
 Feature 32: -1542.7176
 Feature 33: -641.1122
 Feature 34: -3499.4323
 Feature 35: -930.2304
 Feature 36: -996.0715
 Feature 37: 2871.9190
 Feature 38: -2375.4212
 Feature 39: -2173.8021
 Feature 40: -1138.4543
 Feature 41: -4351.5362
 Feature 42: -1842.2851
 Feature 43: -1461.6578
 Feature 44: -1012.8358
 Feature 45: -6805.4274
 Feature 46: 2939.3664
 Feature 47: -1612.1046
 Feature 48: -2197.0598
 Feature 49: -3211.0793
 Feature 50: -760.8950
 Feature 51: -226.1467
 Feature 52: -78.5807
 Feature 53: -3717.8571
 Feature 54: -4033.0228
 Feature 55: -7850.0135
 Feature 56: -4341.2085
 Feature 57: -9986.9455
 Feature 58: -7546.0152
 Feature 59: 3243.1689
 Feature 60: 811.4712
 Feature 61: -7436.7514
 Feature 62: -10989.4340

In [7]:
#Summary Statistics
print("Coefficient Standard Errors:", [f"{val:.4f}" for val in glr_summary.coefficientStandardErrors])
print("T Values:", [f"{val:.4f}" for val in glr_summary.tValues])
print("P Values:", [f"{val:.4f}" for val in glr_summary.pValues])

Coefficient Standard Errors: ['32.1098', '345.5202', '758.5322', '998.1229', '1182.6848', '667.5953', '711.0274', '2935.8109', '2938.5952', '2974.3190', '2986.2789', '3017.8056', '3103.7287', '3105.9301', '3125.4587', '3126.0381', '3126.9004', '3129.9410', '3139.8876', '3141.4249', '3143.4861', '3143.4611', '3153.0125', '3157.2838', '3167.5916', '3177.9271', '3177.1376', '3188.2625', '3189.0496', '3192.7196', '3202.2389', '3205.5528', '3208.6622', '3227.4155', '3228.2393', '3244.4764', '3257.6197', '3281.2210', '3307.3549', '3317.3929', '3315.0877', '3323.9190', '3323.6527', '3334.4591', '3339.7964', '3331.9678', '3364.9221', '3402.6602', '3400.3004', '3395.5481', '3402.1817', '3423.3624', '3502.2973', '3560.7282', '3596.8296', '3635.7330', '3648.5880', '3711.9215', '3718.6007', '3826.0438', '3879.8121', '4034.6588', '4397.4497']
T Values: ['74.0801', '-8.2057', '-4.5296', '12.0289', '-7.0102', '2.3051', '1.5309', '-2.0267', '-1.2303', '-7.5863', '-4.0116', '2.1055', '-0.5004', '0.8655', '-0.7276', '0.1568', '0.1845', '-0.0527', '-0.3605', '-0.5687', '-0.7287', '0.5169', '-0.6843', '0.0009', '-0.2172', '-0.8346', '0.9997', '-0.4365', '-1.2035', '-0.8213', '-0.6098', '-0.4813', '-0.1998', '-1.0843', '-0.2882', '-0.3070', '0.8816', '-0.7239', '-0.6573', '-0.3432', '-1.3126', '-0.5543', '-0.4398', '-0.3037', '-2.0377', '0.8822', '-0.4791', '-0.6457', '-0.9444', '-0.2241', '-0.0665', '-0.0230', '-1.0615', '-1.1326', '-2.1825', '-1.1940', '-2.7372', '-2.0329', '0.8721', '0.2121', '-1.9168', '-2.7238', '23.2587']
P Values: ['0.0000', '0.0000', '0.0000', '0.0000', '0.0000', '0.0212', '0.1258', '0.0427', '0.2186', '0.0000', '0.0001', '0.0353', '0.6168', '0.3868', '0.4668', '0.8754', '0.8536', '0.9580', '0.7185', '0.5696', '0.4662', '0.6053', '0.4938', '0.9993', '0.8281', '0.4039', '0.3174', '0.6625', '0.2288', '0.4115', '0.5420', '0.6303', '0.8416', '0.2782', '0.7732', '0.7588', '0.3780', '0.4691', '0.5110', '0.7315', '0.1893', '0.5794', '0.6601', '0.7613', '0.0416', '0.3777', '0.6319', '0.5185', '0.3450', '0.8227', '0.9470', '0.9817', '0.2884', '0.2574', '0.0291', '0.2325', '0.0062', '0.0421', '0.3831', '0.8320', '0.0553', '0.0065', '0.0000']

In [9]:
#Dispersion
print(f"Null Deviance: {glr_summary.nullDeviance:.4f}")
print(f"Residual DF Null: {glr_summary.residualDegreeOfFreedomNull}")
print(f"Residual DF: {glr_summary.residualDegreeOfFreedom}")
print(f"AIC: {glr_summary.aic:.4f}")
print(f"Deviance: {glr_summary.deviance:.4f}")

Null Deviance: 51607738345410.0703
Residual DF Null: 57956
Residual DF: 57894

AIC: 1350095.6573
Deviance: 44306505655818.4141

In [11]:
feature_names = glr_summary._call_java("featureNames")
features = ["Intercept"] + feature_names
coefs = [glr_model.intercept] + list(glr_model.coefficients)
se = list(glr_summary.coefficientStandardErrors)
t_values = list(glr_summary.tValues)
p_values = list(glr_summary.pValues)

print("Length of features:", len(features))
print("Length of coefficients:", len(coefs))
print("Length of standard errors:", len(se))
print("Length of t-values:", len(t_values))
print("Length of p-values:", len(p_values))

Length of features: 63
Length of coefficients: 63
Length of standard errors: 63
Length of t-values: 63
Length of p-values: 63

In [17]:
import pandas as pd
from tabulate import tabulate
from IPython.display import HTML

summary_df = pd.DataFrame({
    "Feature": features,
    "Estimate": [f"{v:.4f}" if v is not None else None for v in coefs],
    "Std. Error": [f"{v:.4f}" if v is not None else None for v in se],
    "t-value": [f"{v:.4f}" if v is not None else None for v in t_values],
    "p-value": [f"{v:.4f}" if v is not None else None for v in p_values]
})
summary_df.to_csv("output/glr_model_summary.csv", index=False)
summary_df

,Feature,Estimate,Std. Error,t-value,p-value
0,Intercept,102278.9407,32.1098,74.0801,0.0000
1,MIN_YEARS_EXPERIENCE,2378.7010,345.5202,-8.2057,0.0000
2,COMPANY_IS_STAFFING,-2835.2513,758.5322,-4.5296,0.0000
3,IS_INTERNSHIP,-3435.8114,998.1229,12.0289,0.0000
4,EMPLOYMENT_TYPE_NAME_vec_Full Time,12006.3027,1182.6848,-7.0102,0.0000
...,...,...,...,...,...
58,STATE_NAME_vec_Alaska,-7546.0152,3718.6007,0.8721,0.3831
59,STATE_NAME_vec_Vermont,3243.1689,3826.0438,0.2121,0.8320
60,STATE_NAME_vec_Montana,811.4712,3879.8121,-1.9168,0.0553
61,STATE_NAME_vec_West Virginia,-7436.7514,4034.6588,-2.7238,0.0065
62,STATE_NAME_vec_North Dakota,-10989.4340,4397.4497,23.2587,0.0000

# Random Forest